<style>
    #mapPortal {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }

    #mapPortal iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    #mapCanvasContainer {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    #mapCanvasZoomLevel {
        align-self: end;
        max-width: 100px;
    }
    #mapCanvasLon {
        align-self: end;
        max-width: 100px;
    }
    #mapCanvasLat {
        align-self: end;
        max-width: 100px;
    }
    .label{
        display: inline-block;
        height: 25px;
        vertical-align: center;
    }
</style>

<form id="mapPortalForm">
    <div id="mapCanvasContainer">
        <div id="inputHolder" style="display: flex">
            <input type="button" onClick="updateScene()" value="Update Scene">
            <input type="button" onClick="generateScene()" value="Generate Scene">
            <input type="hidden" id="mapData" value="">
            <span class="spacer" style="flex: 1 1 10px"></span>
            <!--<input type="button" onClick="toggleLabels()" value="Labels">-->
            <span class="label">Time:</span><input type="text" id="mapCanvasTime" value="" placeholder="t" style="align-self: flex-end" disabled>
            <span class="label">Z:</span><input type="text" id="mapCanvasZoomLevel" value="" placeholder="z" style="align-self: flex-end" disabled>
            <span class="label">X:</span><input type="text" id="mapCanvasLon" value="" placeholder="x" style="align-self: flex-end" disabled>
            <span class="label">Y:</span><input type="text" id="mapCanvasLat" value="" placeholder="y" style="align-self: flex-end" disabled>
        </div>
        <div class="mapPortal" id="mapPortal"></div>
    </div>
</form>

<script type="application/javascript">
   function generateScene() {
       Hooks.call('mapCanvasGenerateScene');
   }
   function updateScene() {
       Hooks.call('mapCanvasUpdateScene');
   }
   function toggleLabels() {
       Hooks.call('mapCanvasToggleLabels');
   }
</script>

